.link {
	text-decoration:none;
	color:black
} 

.header-left {
	text-align:left;
	padding:10px 0px 0px 50px;
}

.header-right {
	text-align:right;
	padding:0px 100px 0px 0px;
}

.footer {
	text-align:center;
}

.main {
	text-align:center;
}

.left {
	text-align:center;
	width:100%
}

.mainTable {
	width:100%
}

.subTable {
	width:80%;
	margin:auto;
}